.container-avaliacao {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
}

.container-left-avaliacao {
    display: grid;
    grid-template-rows: 15% 85%;
    background-color: #f2fee6;
}

.container-rigth-avaliacao {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 15% 40% 5% 1fr;
}

.container-card-avaliacao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_avaliacao {
    display: grid;
    width: 70%;
    height: 350px;
    border-radius: 10px;
    background-color: #FAFAFA;
    grid-template-columns: 1fr 2fr;
    box-shadow: 2px 2px 8px #AFACAB;
}

.container_media_estrelas {
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.title_media_estrelas{
    font-size: 3rem;
    font-weight: 600;
}

.media_estrelas{
    height: 30px;
}

.titdesc_media_estrelas{
    color: 686868;
    font-size: 1.25rem;
}

.container_bars_estrelas {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.quantidade-avaliacoes{
    display: flex;
    color: #143A0B;
    font-weight: 500;
    font-size: 1.5rem;
    padding-left: 5rem;
    align-items: center ;
}

.container_avaliacao{
    gap: 15px;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 50px;
    overflow: auto;
    flex-direction: column;
}

.star-rating{
    display: flex;
    gap: 10px;
}

.star-filled-avaliacao {
    color: #F5AC47;
    height: 25px;
}

.star-empty-avaliacao {
    color: #ccc; 
    height: 25px;
}

.star-partial-avaliacao {
    color: #F5AC47; 
    width: 50%; 
}
