.menu-navigation {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 15% 80%;
    background-color: rgb(245, 252, 239);
}

.logo-saveeats {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #e8f4e0;
}

.app-logo{
    height: 150px;
}
