.container-perfil {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
}

.container-left-perfil {
    display: grid;
    grid-template-rows: 15% 85%;
    background-color: #f2fee6;
}

.container-rigth-perfil {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 25% 5% 1fr 10% ;
    overflow: auto;
    align-items: center;
    justify-items: center; 
}

.foto-restaurante {
    height: 200px;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #295F1B;
    box-shadow: 2px 2px 5px #AFACAB;
}

.nome-restaurante {
    width: 100%;
    height: 100%;
    display: flex;
    color: #143A0B;
    font-size: 2.5rem;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.container-editar-dados{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.input-editar-dados{
    width: 100%;
    height: 120px;
    display: grid;
    justify-content: center;
    grid-template-rows: 20% 1fr;
    gap: 10px;
}

.nome-input-editar {
    font-size: 1.5rem;
    font-weight: 600;
    color: #143A0B;
}

.input-editar {
    display: flex;
    border: solid 1px;
    border-radius: 15px;
    width: 800px;
    height: 60px;
}

.btn-salvar-edicao{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-salvar-alteracoes{
    height: 50px;
    width: 200px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    border-radius: 15px;
    background-color: #FE9112;
    transition: background-color 0.5s ease;
}

.btn-salvar-alteracoes:hover{
    background-color: #295F1B;
}