.card-pedido {
    display: grid;
    width: 80%;
    height: 400px;
    padding: 15px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 8px#AFACAB;
    grid-template-rows: 10% 10% 7% 9% 10% 40% 12%;
}

.container-cliente-tempo-entrega {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.nomeCliente {
    font-size: 2rem;
    font-weight: 400;
    color: #000;
}

.previsao-entrega-img {
    gap: 10px;
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    justify-content: flex-end;
}

.previsao-entrega {
    display: flex;
    padding-top: 8px;
    font-size: 1.3rem;
}

.img-relogio {
    height: 22px;
    align-self: center;
}

.num_pedido,
.endereco_cliente,
.text-status-pedido {
    display: flex;
    color: #000;
    align-items: end;
    font-size: 1.2rem;
}

.previsao-entrega-text {
    display: flex;
    justify-content: flex-end;
    font-size: 1.3rem;

}

.status-atual-pedido {
    color: #276D15;
    font-weight: 700;
    font-size: 1.4rem;
    align-items: center;
    display: flex;
}

.container-time-line {
    display: grid;
    height: 100%;
    width: 100%;
    padding: 20px;
    grid-template-rows: 1fr 1fr;
}

.icons-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.check-icon {
    font-size: 28px;
    align-items: center;
}

.linha {
    width: 100px;
    text-align: center;
    overflow: hidden;
}

.status-hora {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.status-hora-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}


.btns-card-pedido {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10%;
}

.btn-detalhes,
.btn-att-status {
    height: 40px;
    width: 150px;
    color: #FFF;
    border: none;
    border-radius: 50px;
    background-color: #276D15;
    font-size: 1rem;
    font-weight: 200;
}