registerContainer {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #FEFEFE;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.hamburguer {
    height: 20rem;
}

.prato {
    height: 15rem;
}

.error{
    color: red;
    font-size: 20px;
}


.main-cadastro {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.container-cadastro {
    width: 90vw;
    height: 85vh;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #F6F8F4;
    border-radius: 10px;
    box-shadow: 4px 4px 2rem #AFACAB;
    z-index: 1;
}

.container-left-cadastro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px #AFACAB solid;
    gap: 1.5rem;
}

.family {
    height: 28rem;
}

.title {
    width: 40rem;
    text-align: center;
    font-weight: 100;
    font-size: 2rem;
    color: #3F3F3F;
}

.subtitle-cadastro {
    width: 34rem;
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    /* color: #1B470F; */
}

.container-rigth-cadastro {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 20% 5% 5% 1fr 10%;
    align-items: center;
}

/* .container-rigth-cadastro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.logo-cadastro-saveeats{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastro {
    display: flex;
    font-weight: 800;
    color: #295F1B;
    font-size: 2.5rem;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;

}

.subtitle-cadastro {
    width: 100%;
    display: flex;
    font-weight: 400;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}

.inputs {
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 1rem;
    gap: .5rem;
    overflow-y: scroll;
}

.inputs::-webkit-scrollbar {
    background-color: #ececeb;
}

.inputs::-webkit-scrollbar-thumb {
    background-color: #e0e0df;
    
}

.span-input {
    width: 22rem;
}

.inputDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

input {
    width: 22rem;
    height: 3rem;
    padding: 1rem;
    border: 1px solid #143A0B;
    border-radius: 10px;
    font-size: 1.2rem;
}

.container-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnCadastro {
    width: 12rem;
    height: 4rem;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    color: #fff;
    background-color: #FF8D06;
}


footer {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: end;
}

.pao {
    height: 20rem;
}

@media (max-width: 1700px) {

    .container {
        height: 55rem;
        display: flex;
    }

    .container-rigth {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

@media (max-width: 910px) {

    registerContent {
        height: 220vh;
    }

    .hamburguer {
        height: 10rem;
    }

    .prato {
        height: 8rem;
    }

    main {
        height: 180vh;
    }

    .container {
        height: 200vh;
    }

    .container-rigth {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo-cadastro {
        height: 10rem;
    }

    h1 {
        font-size: 1.5rem;
    }
    
    h2 {
        font-size: 1rem;
    }
    
    .inputs {
        height: 180vh;
        display: flex;
        flex-direction: column;
    }
    
    input {
        width: 18rem;
    }
    
    .pao {
        height: 12rem;
    }
    
    .error{
        font-size: 14px;
    }
    
}

@media (max-width: 1500px) {

    .container-left {
        display: none;
    }
    
    .family {
        display: none;
    }

    .title {
        display: none;
    }
    
    .subtitle {
        display: none;
    }
    
}

.span-input {
    font-size: 1.5rem;
    font-weight: 200;
}

input {
    width: 22rem;
    height: 3rem;
    padding: 1rem;
    border: 1px solid #143A0B;
    border-radius: 10px;
    font-size: 1.2rem;
}


@media(max-width: 580px) {
    .span-input {
        font-size: 1rem;
    }
    
    input {
        width: 15rem;
        height: 2rem;
    }
    
}