.modal-horario-funcionamento {
    bottom: 0;
    left: 40%;
    opacity: 0;
    opacity: 1;
    z-index: 1;
    z-index: -1;
    bottom: 50%;
    width: 720px;
    height: 280px;
    position: absolute;
    border-radius: 20px;
    animation-name: slide;
    transform: translateY(50%);
    background-color: #fff;
    animation-duration: 0.5s;
}

.add-item-horario-funcionamento {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 'header''bodyModal''btn-salvar';
    grid-template-rows: 50px 1fr 80px;
}

.closeModalFuncionamento {
    grid-area: header;
    color: #000;
    display: flex;
    font-size: 2rem;
    font-weight: 700;
    justify-content: end;
    padding-right: 20px;
}

.body-horario-funcionamento-modal {
    grid-area: bodyModal;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
}

.title-horario-funcionamento {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: 100%;
    width: 100%;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.title-horario-funcionamento-item{
    display: flex;
    font-weight: 600;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}

.inputs-add-horario-funcionamento {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: 100%;
    width: 100%;
    gap: 30px;
    justify-content: center;
}

.container-input-horario {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs-horarios-edit {
    width: 150px;
    display: flex;
    font-size: 1.3rem;
    justify-content: center;
}

.dia-input{
    width: 180px;
}

.btn-criar-horario-funcionamento {
    grid-area: btn-salvar;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-salvar-horario {
    border: none;
    height: 40px;
    width: 150px;
    color: #FFF;
    font-size: 1rem;
    border-radius: 50px;
    background-color: #5f8e29;
}


@keyframes slide {
    from {
        bottom: 0%;
        opacity: 0.1;
    }

    to {
        bottom: 50%;
        transform: translateY(50%);
        opacity: 1;
    }
}
