.container-detalhes-pedido {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
}

.container-left-detalhes-pedido {
    display: grid;
    grid-template-rows: 15% 85%;
    background-color: #F6F8F4;
}

.container-rigth-detalhes-pedido {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 15% 25% 7% 65%;
    justify-items: center;
}