.container-tres-pontos {
    position: relative;
    display: inline-block;
    transition: left 0.3s;
}

.menu.open {
    right: 0;
}

.toggle-button {
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    background-color: transparent;
}

.lista {
    top: 0;
    margin: 0;
    z-index: 1;
    left: 100%;
    width: 80px;
    height: 80px;
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.lista li {
    padding: 10px;
    color: #000;
    cursor: pointer;
    transition: background-color 0.2s;
}

li:hover {
    background-color: #90AE6E;
} 

.tres-pontos {
    height: 2vh;
}
