.menu-item {
    height: 90px;
    gap: 1.25rem;
    display: flex;
    font-weight: 200;
    font-weight: 600;
    color: #818080;
    /* color: #3f3f3fcc; */
    font-size: 1.5rem;
    padding-left: 30px;
    align-items: flex-end;
    text-decoration: none;
}

.menu-item.active {
    color: #295F1B;
}

.menu-icon,
.menu-text {
    height: 2rem;
}